html, body {
    height: 100%;
    margin: 0;
}


.container {
    background-color: rgb(75, 75, 75);
    width: 600px;
    height: 500px;
    padding: 15px;

}

.container-header-login{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    margin-bottom: 60px;
}

.container-body{
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.container-body input {
    margin-bottom: 10px;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
  }
  
  .container-body button {
    padding: 10px;
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }

.button-register{
  width: 500px;
}

  .house-image-login{
    justify-content: center;
    align-items:end;
    display:flex;
  }

